/*
 * This code was generated by
 *
 * SENDGRID-OAI-GENERATOR
 *
 * Twilio SendGrid Integrations API
 * Integrations allows you to connect your SendGrid applications with third-party services and forward SendGrid email events to those external applications. Currently, Integrations supports event forwarding to [Segment](https://segment.com/docs). You can use this API to create, delete, view, and update your Integrations.
 *
 * NOTE: This class is auto generated by OpenAPI Generator.
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.sendgrid.rest.api.v3.integrations;

import com.sendgrid.base.apikey.ApiKeyBase;
import com.sendgrid.constant.ApplicationConstants;
import com.sendgrid.constant.Domains;
import com.sendgrid.exception.ApiConnectionException;
import com.sendgrid.exception.ApiErrorResponse;
import com.sendgrid.exception.GenericApiError;
import com.sendgrid.http.ApiKeyRestClient;
import com.sendgrid.http.ApiResponse;
import com.sendgrid.http.HttpMethod;
import com.sendgrid.http.Request;
import com.sendgrid.http.Response;
import com.sendgrid.rest.api.v3.integrations.models.GetIntegrationsByUser200Response;
import com.sendgrid.rest.api.v3.integrations.models.GetIntegrationsByUser403Response;
import com.sendgrid.rest.api.v3.integrations.models.GetIntegrationsByUser500Response;
import com.sendgrid.util.JsonUtil;
import com.sendgrid.util.Matcher;
import lombok.RequiredArgsConstructor;

@RequiredArgsConstructor
public class GetIntegrationsByUser extends ApiKeyBase {

    public ApiResponse<GetIntegrationsByUser200Response> send(
        final ApiKeyRestClient client
    ) {
        String path = "/v3/marketing/integrations";
        Request request = new Request(
            HttpMethod.GET,
            path,
            Domains.API.toString()
        );
        Response response = client.request(request);

        if (response == null) {
            throw new ApiConnectionException(
                "GetIntegrationsByUser creation failed: Unable to connect to server"
            );
        } else if (
            !ApplicationConstants.SUCCESS.test(response.getStatusCode())
        ) {
            int statusCode = response.getStatusCode();
            if (Matcher.matches(Integer.toString(statusCode), "403")) {
                GetIntegrationsByUser403Response error = JsonUtil.fromJson(
                    response.getStream(),
                    GetIntegrationsByUser403Response.class
                );
                throw new ApiErrorResponse(
                    statusCode,
                    null,
                    error,
                    response.getHeaders()
                );
            }

            if (Matcher.matches(Integer.toString(statusCode), "500")) {
                GetIntegrationsByUser500Response error = JsonUtil.fromJson(
                    response.getStream(),
                    GetIntegrationsByUser500Response.class
                );
                throw new ApiErrorResponse(
                    statusCode,
                    null,
                    error,
                    response.getHeaders()
                );
            }

            GenericApiError error = JsonUtil.fromJson(
                response.getStream(),
                GenericApiError.class
            );
            throw new ApiErrorResponse(
                statusCode,
                null,
                error,
                response.getHeaders()
            );
        }
        int statusCode = response.getStatusCode();
        return new ApiResponse(
            statusCode,
            JsonUtil.fromJson(
                response.getStream(),
                GetIntegrationsByUser200Response.class
            ),
            response.getHeaders()
        );
    }
}
