/*
 * This code was generated by
 *
 * SENDGRID-OAI-GENERATOR
 *
 * Twilio SendGrid Teammates API
 * The Twilio SendGrid Teammates API allows you to add, manage, and remove Teammates, or user accounts, from your SendGrid account. Teammates function like user accounts on the SendGrid account, allowing you to invite additional users to your account with scoped access. You can think of Teammates as SendGrid's approach to enabling [role-based access control](https://en.wikipedia.org/wiki/Role-based_access_control) for your SendGrid account. For even more control over the access to your account, see the [Twilio SendGrid SSO API](https://docs.sendgrid.com/api-reference/single-sign-on-teammates/), which enables SSO-authenticated Teammates to be managed through a SAML 2.0 identity provider.
 *
 * NOTE: This class is auto generated by OpenAPI Generator.
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.sendgrid.rest.api.v3.teammates;

import com.sendgrid.exception.ApiConnectionException;
import com.sendgrid.exception.ApiErrorResponse;
import com.sendgrid.http.HttpMethod;
import com.sendgrid.http.Request;
import com.sendgrid.http.Response;
import com.sendgrid.http.TokenRestClient;
import com.sendgrid.rest.api.v3.teammates.models.GetTeammatesTeammateNameSubuserAccess200Response;
import com.sendgrid.rest.api.v3.teammates.models.GetTeammatesTeammateNameSubuserAccess400Response;
import com.sendgrid.util.JsonUtil;
import com.sendgrid.util.Matcher;
import lombok.RequiredArgsConstructor;

@RequiredArgsConstructor
public class GetTeammateSubuserAccess {
    private final String teammateName;
    private Integer limit;
    private String query;


    public GetTeammatesTeammateNameSubuserAccess200Response send(final TokenRestClient client) {
        String path = "/v3/teammates/{teammate_name}/subuser_access";
        Request.Builder builder = new Request.Builder(HttpMethod.GET, path)
                .addPathParam("teammate_name", teammateName.toString());
        addQueryParam(builder);
        Request request = builder.build();
        Response response = client.request(request);

        if (response == null) {
            throw new ApiConnectionException(
                    "GetTeammateSubuserAccess creation failed: Unable to connect to server"
            );
        } else if (!TokenRestClient.SUCCESS.test(response.getStatusCode())) {

            int statusCode = response.getStatusCode();
            if (Matcher.matches(Integer.toString(statusCode), "400")) {
                GetTeammatesTeammateNameSubuserAccess400Response error = JsonUtil.fromJson(
                        response.getStream(),
                        GetTeammatesTeammateNameSubuserAccess400Response.class
                );
                throw new ApiErrorResponse(statusCode, null, error, response.getHeaders());
            }

            if (Matcher.matches(Integer.toString(statusCode), "401")) {
                GetTeammatesTeammateNameSubuserAccess400Response error = JsonUtil.fromJson(
                        response.getStream(),
                        GetTeammatesTeammateNameSubuserAccess400Response.class
                );
                throw new ApiErrorResponse(statusCode, null, error, response.getHeaders());
            }

            if (Matcher.matches(Integer.toString(statusCode), "403")) {
                GetTeammatesTeammateNameSubuserAccess400Response error = JsonUtil.fromJson(
                        response.getStream(),
                        GetTeammatesTeammateNameSubuserAccess400Response.class
                );
                throw new ApiErrorResponse(statusCode, null, error, response.getHeaders());
            }

            if (Matcher.matches(Integer.toString(statusCode), "500")) {
                GetTeammatesTeammateNameSubuserAccess400Response error = JsonUtil.fromJson(
                        response.getStream(),
                        GetTeammatesTeammateNameSubuserAccess400Response.class
                );
                throw new ApiErrorResponse(statusCode, null, error, response.getHeaders());
            }

        }
        return JsonUtil.fromJson(response.getStream(), GetTeammatesTeammateNameSubuserAccess200Response.class);
    }


    private void addQueryParams(Request.Builder builder) {
        builder.addQueryParams("limit", limit.toString());
        builder.addQueryParams("query", query.toString());

    }


}
