/*
 * This code was generated by
 *
 * SENDGRID-OAI-GENERATOR
 *
 * Twilio SendGrid Marketing Campaigns Single Sends API
 * The Twilio SendGrid Single Sends API allows you to create, manage, and send Single Sends. You can also search Single Sends and retrieve statistics about them to help you maintain, alter, and further develop your campaigns.  A Single Send is a one-time non-automated email message delivered to a list or segment of your audience. A Single Send may be sent immediately or scheduled for future delivery.  Single Sends can serve many use cases, including promotional offers, engagement campaigns, newsletters, announcements, legal notices, or policy updates. You can also create and manage Single Sends in the [Marketing Campaigns application user interface](https://mc.sendgrid.com/single-sends).  The Single Sends API changed on May 6, 2020. See [**Single Sends 2020 Update**](https://docs.sendgrid.com/for-developers/sending-email/single-sends-2020-update) for more information.
 *
 * NOTE: This class is auto generated by OpenAPI Generator.
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.sendgrid.rest.api.v3.mcsinglesends;

import com.sendgrid.exception.ApiConnectionException;
import com.sendgrid.exception.ApiErrorResponse;
import com.sendgrid.http.HttpMethod;
import com.sendgrid.http.Request;
import com.sendgrid.http.Response;
import com.sendgrid.http.TokenRestClient;
import com.sendgrid.rest.api.v3.mcsinglesends.models.GetMarketingSinglesends500Response;
import com.sendgrid.rest.api.v3.mcsinglesends.models.PostMarketingSinglesendsIdRequest;
import com.sendgrid.rest.api.v3.mcsinglesends.models.SinglesendResponse;
import com.sendgrid.util.JsonUtil;
import com.sendgrid.util.Matcher;
import lombok.RequiredArgsConstructor;

@RequiredArgsConstructor
public class PostSinglesendsById {
    private final String id;
    private final PostMarketingSinglesendsIdRequest postMarketingSinglesendsIdRequest;


    public SinglesendResponse send(final TokenRestClient client) {
        String path = "/v3/marketing/singlesends/{id}";
        Request.Builder builder = new Request.Builder(HttpMethod.POST, path)
                .addPathParam("id", id.toString());
        body(builder);
        Request request = builder.build();
        Response response = client.request(request);

        if (response == null) {
            throw new ApiConnectionException(
                    "PostSinglesendsById creation failed: Unable to connect to server"
            );
        } else if (!TokenRestClient.SUCCESS.test(response.getStatusCode())) {

            int statusCode = response.getStatusCode();
            if (Matcher.matches(Integer.toString(statusCode), "404")) {
                GetMarketingSinglesends500Response error = JsonUtil.fromJson(
                        response.getStream(),
                        GetMarketingSinglesends500Response.class
                );
                throw new ApiErrorResponse(statusCode, null, error, response.getHeaders());
            }

            if (Matcher.matches(Integer.toString(statusCode), "500")) {
                GetMarketingSinglesends500Response error = JsonUtil.fromJson(
                        response.getStream(),
                        GetMarketingSinglesends500Response.class
                );
                throw new ApiErrorResponse(statusCode, null, error, response.getHeaders());
            }

        }
        return JsonUtil.fromJson(response.getStream(), SinglesendResponse.class);
    }


    private void body(final Request.Builder builder) {
        if (postMarketingSinglesendsIdRequest != null) {
            builder.body(JsonUtil.toJson(postMarketingSinglesendsIdRequest));
        }
    }

}
