/*
 * This code was generated by
 *
 * SENDGRID-OAI-GENERATOR
 *
 * Twilio SendGrid Single Sign-On API
 * The Single Sign-On API allows you to manage your SAML 2.0 SSO configurations. You can also work with your SSO integrations using the SSO section of the [Twilio SendGrid application user interface](https://app.sendgrid.com/settings/sso).  The Single Sign-On Settings operations allow you to create, retrieve, modify, and delete SSO integrations for your Twilio SendGrid account. Each integration will correspond to a specific IdP such as Okta, Duo, or Microsoft Azure Active Directory.  The Single Sign-On Certificates operations allow you to create, modify, and delete SSO certificates. A SAML certificate allows your IdP and Twilio SendGrid to verify requests are coming from one another using the `public_certificate` and `integration_id` parameters.  The Single Sign-On Teammates operations allow you to add and modify SSO Teammates. SSO Teammates are the individual user accounts who will access your Twilio SendGrid account with SSO credentials. To retrieve or delete an SSO Teammate, you will use the separate [Teammates API](https://docs.sendgrid.com/api-reference/teammates/).
 *
 * NOTE: This class is auto generated by OpenAPI Generator.
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.sendgrid.rest.api.v3.sso;

import com.sendgrid.exception.ApiConnectionException;
import com.sendgrid.exception.ApiErrorResponse;
import com.sendgrid.http.HttpMethod;
import com.sendgrid.http.Request;
import com.sendgrid.http.Response;
import com.sendgrid.http.TokenRestClient;
import com.sendgrid.rest.api.v3.sso.models.PostSsoTeammates201;
import com.sendgrid.rest.api.v3.sso.models.PostSsoTeammatesRequest;
import com.sendgrid.rest.api.v3.sso.models.SsoErrorResponseInner;
import com.sendgrid.util.JsonUtil;
import com.sendgrid.util.Matcher;
import lombok.RequiredArgsConstructor;

@RequiredArgsConstructor
public class PostTeammates {
    private final PostSsoTeammatesRequest postSsoTeammatesRequest;


    public PostSsoTeammates201 send(final TokenRestClient client) {
        String path = "/v3/sso/teammates";
        Request.Builder builder = new Request.Builder(HttpMethod.POST, path);
        body(builder);
        Request request = builder.build();
        Response response = client.request(request);

        if (response == null) {
            throw new ApiConnectionException(
                    "PostTeammates creation failed: Unable to connect to server"
            );
        } else if (!TokenRestClient.SUCCESS.test(response.getStatusCode())) {

            int statusCode = response.getStatusCode();
            if (Matcher.matches(Integer.toString(statusCode), "400")) {
                List & lt;
                SsoErrorResponseInner & gt;
                error = JsonUtil.fromJson(
                        response.getStream(),
                        List & lt; SsoErrorResponseInner & gt;.class
        );
                throw new ApiErrorResponse(statusCode, null, error, response.getHeaders());
            }

            if (Matcher.matches(Integer.toString(statusCode), "401")) {
                List & lt;
                SsoErrorResponseInner & gt;
                error = JsonUtil.fromJson(
                        response.getStream(),
                        List & lt; SsoErrorResponseInner & gt;.class
        );
                throw new ApiErrorResponse(statusCode, null, error, response.getHeaders());
            }

            if (Matcher.matches(Integer.toString(statusCode), "403")) {
                List & lt;
                SsoErrorResponseInner & gt;
                error = JsonUtil.fromJson(
                        response.getStream(),
                        List & lt; SsoErrorResponseInner & gt;.class
        );
                throw new ApiErrorResponse(statusCode, null, error, response.getHeaders());
            }

            if (Matcher.matches(Integer.toString(statusCode), "429")) {
                List & lt;
                SsoErrorResponseInner & gt;
                error = JsonUtil.fromJson(
                        response.getStream(),
                        List & lt; SsoErrorResponseInner & gt;.class
        );
                throw new ApiErrorResponse(statusCode, null, error, response.getHeaders());
            }

            if (Matcher.matches(Integer.toString(statusCode), "500")) {
                List & lt;
                SsoErrorResponseInner & gt;
                error = JsonUtil.fromJson(
                        response.getStream(),
                        List & lt; SsoErrorResponseInner & gt;.class
        );
                throw new ApiErrorResponse(statusCode, null, error, response.getHeaders());
            }

        }
        return JsonUtil.fromJson(response.getStream(), PostSsoTeammates201.class);
    }


    private void body(final Request.Builder builder) {
        if (postSsoTeammatesRequest != null) {
            builder.body(JsonUtil.toJson(postSsoTeammatesRequest));
        }
    }

}
